*, *:before, *:after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

button {
  cursor: pointer;
}